.customer-demo {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.artwork-section {
  flex: 1;
}

.artwork-container {
  /* background: #fff; */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sketch-container {
  margin-bottom: 1rem;
}

.p5Canvas {
  box-shadow: 0 0 20px rgba(89, 77, 255, 0.3), 0 0 40px rgba(40, 242, 249, 0.2);
}

.button-container {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.controls-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.config-section {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.config-section p {
  background: #fff;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.pickers-section {
  display: flex;
  justify-content: space-around;
}

.config-item {
  margin-bottom: 1.5rem;
}

.config-item label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: black;
}

input[type="range"] {
  width: 100%;
  margin: 0.5rem 0;
}

.config-item span {
  display: inline-block;
  margin-left: 0.5rem;
}

.checkout-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 5px;
  background-color: #28a745;
}

.checkout-button:hover {
  background-color: #218838;
}

p {
  color: #666;
  margin-bottom: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0 20px rgba(180, 177, 255, 0.9), 0 0 40px rgba(200, 242, 255, 0.7);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  color: #666;
}

.close-button:hover {
  color: #000;
}

.modal-sketch-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.modal-body {
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
}

.print-details {
  margin: 20px 0;
}

.print-details p {
  margin: 10px 0;
  color: #666;
}

.primary-button {
  background: var(--main-gradient);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: transform 0.2s ease;
}

.primary-button:hover {
  transform: scale(1.02);
}
